* {
    margin: 0;
    padding: 0;
    color: black;
    /* text-shadow: 0 0 2px rgb(29, 15, 13); */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding-left: 2%;
    padding-right: 2%;
}

