body {

}


.switch {
    position: fixed;
    right: 0; 
    
}

/* .menu {
    position: fixed;
    left:0;
} */

.technologies {
    
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100vh;  */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    align-content: center;
    height: 100vh; /* Set a height for the container to center vertically */

}


.logo {
    width: 70px;
    height: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5rem;
    margin-right: 3rem;
  
}

.dark-mode {
    background: #a74343;
    color: #fff;
  }

  /* .collapsed .background-color {
    background: #a74343;
    color: #fff;
  } */
  
  .light-mode {
    background: #45ff;
    color: #5678;
  }

@media only screen and (max-width: 600px) {
    .col-1 a {
        font-size: 8px;
    }

    .col-2 {
        width: 100%;
    }

    .col-3  {
        height: 15%;
    }

    .col-3 a {
        border-radius: 50%;
        padding-left: 5;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        opacity: 75%;
    }

    .logo {
        width: 100px;
        height: 100px;
    }
  }


