.light-mode .intro-container {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem; 
    height: auto;
    align-items: center; 
    text-align: center; 
    background:
    repeating-linear-gradient(50deg,
      #f9d7d6,
      #f9d7d6 2em,
      #fbe6e5 2em,
      #fbe6e5 4em,
      #fdf1f1 4em,
      #fdf1f1 5em,
      #fef5f5 5em,
      #fef5f5 6em,
      #fef6f6 6em,
      #b4c8ea 6em,
      #b4c8ea 7em,
      #91a8d0 7em,
      #91a8d0 8em),
    repeating-linear-gradient(-50deg,
      #f9d7d6,
      #f9d7d6 2em,
      #fbe6e5 2em,
      #fbe6e5 4em,
      #fdf1f1 4em,
      #fdf1f1 5em,
      #fef5f5 5em,
      #fef5f5 6em,
      #fef6f6 6em,
      #b4c8ea 6em,
      #b4c8ea 7em,
      #91a8d0 7em,
      #91a8d0 8em),
    #f9d7d6;
  background-blend-mode: multiply;
  outline: 2px solid #f2757d;
  box-shadow: 0 0 8px #454077;
  transition: .8s;
  margin-left: 10%;
  margin-right: 10%;
  }

  .dark-mode .intro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem; 
    height: auto;
    align-items: center; 
    text-align: center; 
    background:
    repeating-linear-gradient(50deg,
      #f9d7d6,
      #f9d7d6 2em,
      #fbe6e5 2em,
      #fbe6e5 4em,
      #fdf1f1 4em,
      #fdf1f1 5em,
      #fef5f5 5em,
      #fef5f5 6em,
      #fef6f6 6em,
      #b4c8ea 6em,
      #b4c8ea 7em,
      #91a8d0 7em,
      #91a8d0 8em),
    repeating-linear-gradient(-50deg,
      #f9d7d6,
      #f9d7d6 2em,
      #fbe6e5 2em,
      #fbe6e5 4em,
      #fdf1f1 4em,
      #fdf1f1 5em,
      #fef5f5 5em,
      #fef5f5 6em,
      #fef6f6 6em,
      #b4c8ea 6em,
      #b4c8ea 7em,
      #91a8d0 7em,
      #91a8d0 8em),
      #454077;
  background-blend-mode: multiply;
  outline: 2px solid #746cc0;
  box-shadow: 0 0 8px #efedff;
  transition: .8s;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-left: 10%;
  margin-right: 10%;
  }

/* .roddy {
    position: absolute;
    left: 50%;
    bottom: 20%;
    padding-top: 2rem;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
    opacity: 100%; 
  } */

  .light-mode .intro-text {
    color: #fef6f6;
    /* background: #fef6f6; */
    transition: color .8s;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 3px;
  }
  
  .dark-mode .intro-text {
    color: #f2757d;
    transition: color .8s;
    /* background: #1a2a3d; */
    padding: 6px;
    border-radius: 3px;
  }

/* .light-mode .roddy {
    position: absolute;
    padding-top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/roddy.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
    opacity:100%;
    border-radius: 10px;
  }

  .dark-mode .roddy {
    position: absolute;
    padding-top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/roddy.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
    opacity:75%;
    border-radius: 10px;
  }  */
