.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem; /* Add gap between cards */
    height: 100vh;
  }

  .project-card {
    /* height: 450px; */
    width: calc(50% - 0.5rem); /* Set width to 50% minus the gap */
    margin-bottom: 1rem; /* Add margin-bottom for spacing between rows */
  }
  
  .light-mode .project-card {
    width: 300px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.5) 0%);
    transition: .8s;
  }
  .dark-mode .project-card {
    width: 300px;
    background: linear-gradient(to top, rgba(130, 154, 177, 0) 0%, rgba(51, 78, 104, 0.5) 100%);
    outline: 2px solid  #ABF5D1;
    box-shadow: 0 0 8px #36B37E;
    transition: outline .8s, box-shadow .6s;
  }

  .light-mode .card-media {
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    height: 200px; /* Adjust the height as needed */
    overflow: hidden;
    transition: .8s;
  }
  
  .dark-mode .card-media {
    width: auto;
    padding: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    position: relative;
    height: 200px; /* Adjust the height as needed */
    overflow: hidden;
    /* background-image: linear-gradient(to bottom, transparent 40%, rgba(255, 255, 255, 0.5) 80%); */
    transition: .8s;
  }
  

  .light-mode .background-image-1 {
    position: absolute;
    padding-top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/girl-taking-selfie (1).svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
    opacity:100%;
  }

  .dark-mode .background-image-1 {
    position: absolute;
    padding-top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/girl-taking-selfie (1).svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
    opacity:75%;
  }

  .light-mode .background-image-2 {
    position: absolute;
    padding-top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/developer-at-work.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
  }
 
    .dark-mode .background-image-2 {
    position: absolute;
    padding-top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/developer-at-work.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
    opacity:75%;
  }

  .light-mode .background-image-3 {
    position: absolute;
    padding-top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/business-growth-happy-publicdomainvectors.org.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
  }
 
    .dark-mode .background-image-3 {
    position: absolute;
    padding-top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/business-growth-happy-publicdomainvectors.org.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
    opacity:75%;
  }

  .light-mode .background-image-4 {
    position: absolute;
    padding-top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/server-protection.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
  }
 
    .dark-mode .background-image-4 {
    position: absolute;
    padding-top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/server-protection.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
    opacity:75%;
  }

  .project-text {

  /* *********THIS IS WHERE THE HEIGHT OF THE CARDS IS MATCHED**** */
    height: 75px;
  }
  
  .light-mode .project-text {
    color: black;
    transition: color .8s;
  }
  
  .dark-mode .project-text {
  
    color: white;
    transition: color .8s;
  }

  .logo {
    max-width: 45px;
    height: auto;
  }

  /* .light-mode .repo-link {

  } */

  /* .dark-mode .repo-link {
    transition: radial-gradient .8s, opacity .6s;
    background: radial-gradient(#ABF5D1 30%, #36B37E 60%, rgba(130, 154, 177, 0) 90% );
  } */

  /* .dark-mode .repo-link {
    animation: fadeInBackground 0.8s ease-in-out forwards;
    background: radial-gradient(circle closest-side at center, rgba(171, 245, 209, 1) 20%, rgba(54, 179, 126, 0.8) 60%, rgba(130, 154, 177, 0) 100%);
  }
  */
  /* @keyframes fadeInBackground {
    0% {
      background-size: 100% 100%;
      opacity: 0;
    }
    100% {
      background-size: 100% 100%;
      opacity: 1;
    }
  } 

  .dark-mode .repo-link {
    position: relative;
    overflow: hidden;
  }
  
  .dark-mode .repo-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: radial-gradient(circle closest-side at center, rgba(171, 245, 209, 1) 20%, rgba(54, 179, 126, 0.8) 60%, rgba(130, 154, 177, 0) 100%);
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
  }
  
  .dark-mode .repo-link:hover::before {
    opacity: 1;
  } */


  
 
  
  
  
  
  
  
  
  