/* .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem; 
    height: 100vh;
    margin-top: 3rem;
  } */

  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start; /* Updated property */
    gap: 0.5rem;
    margin-top: 3rem;
  }

  /* @media (max-width: 768px) {
    .project-card {
      width: 100%;
    }
  } */
  

  .project-card {

    width: calc(50% - 0.5rem);
    margin-bottom: 1rem; 
    
  }


  .light-mode .project-card {
    width: 300px;
    background:
    repeating-linear-gradient(50deg,
      #f9d7d6,
      #f9d7d6 2em,
      #fbe6e5 2em,
      #fbe6e5 4em,
      #fdf1f1 4em,
      #fdf1f1 5em,
      #fef5f5 5em,
      #fef5f5 6em,
      #fef6f6 6em,
      #b4c8ea 6em,
      #b4c8ea 7em,
      #91a8d0 7em,
      #91a8d0 8em),
    repeating-linear-gradient(-50deg,
      #f9d7d6,
      #f9d7d6 2em,
      #fbe6e5 2em,
      #fbe6e5 4em,
      #fdf1f1 4em,
      #fdf1f1 5em,
      #fef5f5 5em,
      #fef5f5 6em,
      #fef6f6 6em,
      #b4c8ea 6em,
      #b4c8ea 7em,
      #91a8d0 7em,
      #91a8d0 8em),
    #f9d7d6;
  background-blend-mode: multiply;
  outline: 2px solid #f2757d;
  box-shadow: 0 0 8px #454077;
  transition: .8s;
  margin-left: auto;
  margin-right: auto;
  }
  .dark-mode .project-card {
    width: 300px;
    background:
    repeating-linear-gradient(50deg,
      #f9d7d6,
      #f9d7d6 2em,
      #fbe6e5 2em,
      #fbe6e5 4em,
      #fdf1f1 4em,
      #fdf1f1 5em,
      #fef5f5 5em,
      #fef5f5 6em,
      #fef6f6 6em,
      #b4c8ea 6em,
      #b4c8ea 7em,
      #91a8d0 7em,
      #91a8d0 8em),
    repeating-linear-gradient(-50deg,
      #f9d7d6,
      #f9d7d6 2em,
      #fbe6e5 2em,
      #fbe6e5 4em,
      #fdf1f1 4em,
      #fdf1f1 5em,
      #fef5f5 5em,
      #fef5f5 6em,
      #fef6f6 6em,
      #b4c8ea 6em,
      #b4c8ea 7em,
      #91a8d0 7em,
      #91a8d0 8em),
    #454077;
  background-blend-mode: multiply;
  outline: 2px solid #746cc0;
  box-shadow: 0 0 8px #efedff;
  transition: .8s;
  margin-left: auto;
  margin-right: auto;
  }

  .light-mode .card-media {
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    height: 200px; /* Adjust the height as needed */
    overflow: hidden;
    transition: .8s;
  }
  
  .dark-mode .card-media {
    width: auto;
    padding: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    position: relative;
    height: 200px; /* Adjust the height as needed */
    overflow: hidden;
    /* background-image: linear-gradient(to bottom, transparent 40%, rgba(255, 255, 255, 0.5) 80%); */
    transition: .8s;
  }
  

  .light-mode .background-image-1 {
    position: absolute;
    padding-top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/girl-taking-selfie (1).svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
    opacity:100%;
  }

  .dark-mode .background-image-1 {
    position: absolute;
    padding-top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/girl-taking-selfie (1).svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
    opacity:75%;
  }

  .light-mode .background-image-2 {
    position: absolute;
    padding-top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/developer-at-work.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
  }
 
    .dark-mode .background-image-2 {
    position: absolute;
    padding-top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/developer-at-work.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
    opacity:75%;
  }

  .light-mode .background-image-3 {
    position: absolute;
    padding-top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/business-growth-happy-publicdomainvectors.org.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
  }
 
    .dark-mode .background-image-3 {
    position: absolute;
    padding-top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/business-growth-happy-publicdomainvectors.org.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
    opacity:75%;
  }

  .light-mode .background-image-4 {
    position: absolute;
    padding-top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/server-protection.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
  }
 
    .dark-mode .background-image-4 {
    position: absolute;
    padding-top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/server-protection.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
    opacity:75%;
  }


  /* *********THIS IS WHERE THE HEIGHT OF THE CARDS IS MATCHED**** */

  .project-text {

    height: 75px;
  }
  
  .light-mode .project-text {
    color: #fef6f6;
    /* background: #fef6f6; */
    transition: color .8s;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 3px;
  }
  
  .dark-mode .project-text {
    color: #f2757d;
    transition: color .8s;
    /* background: #1a2a3d; */
    padding: 6px;
    border-radius: 3px;
  }

  .logo {
    max-width: 45px;
    height: auto;
  }

 