.technologies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    justify-items: center;
  }
  
  .logo {
    max-width: 45px;
    height: auto;
  }
  
  /* @media (orientation: landscape) {
    .technologies {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
  } */
  
  